.btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .btn-wrapper {
    flex-direction: row;
    gap: 20px;
  }
}

.btn-good {
  background-color: #59a10d;
}

.btn-good:hover,
.btn-good:focus {
  background-color: #72c718;
}

.btn-neutral {
  background-color: #565c72;
}

.btn-neutral:hover,
.btn-neutral:focus {
  background-color: #7e859e;
}

.btn-bad {
  background-color: #ef4040;
}

.btn-bad:hover,
.btn-bad:focus {
  background-color: #ff7070;
}
